1. Explain the key features of Python that make it a popular choice for programming

Key Features of Python are:
    1. High level language.
    2. Easy to understans and code.
    3. Open Source and free software.
    4. Object Oriented Methodology.
    5. Highly Portable language.
    6. Extremely Dyanamic.
    7. Supportive of other language.
    8. Extensive Array of libraries.

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

Predefined Keywords are reserved words in python that have some  special meaning. Keywords are used to define the syntax of coding, some Predefined Keywords are if,else,elif,for,while,def, True, False etc. There are 35 predefined Keywords in Python. 

Let us take some example of how they are used in a program:

In [1]:
# if, else , elif we will use in this example:
for t in range(1, 5):
# print one of t ==1
	if t == 1:
		print('Value is 1')
# print two if t ==2
	elif t == 2:
		print('Value is 2')
	else:
		print('else block execute because value is:',t)

Value is 1
Value is 2
else block execute because value is: 3
else block execute because value is: 4

In [12]:
#  def ,if,else we will use to check whether number is odd or even:
# define GFG() function using def keyword
output=""
def GFG():
    num = int(input("Enter the number"))
    if(num % 2 == 0):
        output="given number is even"
    else:
        output="given number is odd"
    return output
GFG()

Enter the number 21

'given number is odd'

In [14]:
# True and False for check whether string have a given word.
Data="Example of True and False"
"Example" in Data
"if" in Data

False

3. Compare and contrast mutable and immutable objects in Python with examples

Mutable Objects those objects which have been changed after creation while immutable object are non changable after creation.
List,Dictionary,Set are mutable objects of Python.
Tuple,Frozen Set, String are immutable objects of Python.

In [10]:
# Examples of Mutable Objects:

List = [1,2,3,45,6,33]
List
List[1] # get the value at index 1
List[4] = 22# change the value of index 4 be 22
List

[1, 2, 3, 45, 22, 33]

In [13]:
Dict = {1:"Sumit",2:"Rohit",3:"Anil"}
Dict# Dictionary created
Dict[2]="Mohit"# Change the value of Key 2
Dict

{1: 'Sumit', 2: 'Mohit', 3: 'Anil'}

In [17]:
Set ={1,2,3,4,1,2,3,4}
Set# set Createed
Set.add(33)# add the value in set 33
Set

{1, 2, 3, 4, 33}

In [19]:
# Examples of Immutable Objects
Tuple=(1,23,4,3,4)
Tuple# tuple created
Tuple[1]=8# it will throw an error

TypeError: 'tuple' object does not support item assignment

In [21]:
Data="This is Example of Immutablity"
Data# String Created
Data[1]="x"# It will throw an error

TypeError: 'str' object does not support item assignment

In [23]:
Frozenset = frozenset((1,2,3,4,4))
Frozenset# created
Frozenset.add(6)# it will throw an error

AttributeError: 'frozenset' object has no attribute 'add'

4. Explain the concept of type casting in Python with examples

Type Casting is the method to convert the Python variable datatype into a certain data type in order to perform the required operation by users.
We get the data type of variable by type() function.
Type casting has various techniques. It have two types:Implicit and Explicit.

In [28]:
# Implicit Type Casting
a = 4
type(a)#int
b=3.0
type(b)# float
c = a+b
type(c)# python automatically converts the ouput in float data type that is implict typecasting

float

In [33]:
# Explicit Type Casting

data = input("Enter the value")
type(data)#if we provide the input is 1 then input function always have string data type 
newdata= int(input("enter the value"))
type(newdata)# now if we want the input as integer explicit type casting required

Enter the value 1
enter the value 1

int

5. Discuss the different types of operators in Python and provide examples of how they are used

Types of Opertors in Python are:
1.Arithmetic operators are (Addition,Subtraction,Division,Modulus,Multiplication,Exponentiation,Floor Divison)
2.Assignment operators are (=,+=,=+,-=,=-,>>,<<, etc)
3.Comparison operators are (==,!=,>=,<=,etc)
4.Logical operators are (and,or,not)
5.Identity operators are (is,is not)
6.Membership operators are (in, not in)
7.Bitwise operators are (&,|,^,~,etc)

In [36]:
# Arithmetic Operator Example:
a=2
b=6
add=a+b# addition
sub=a-b#subtraction
mul=a*b# multiplication
div=a/b# divison
floor=a//b# Floor Division
expo=a**b#Exponentiation
print(add,sub,mul,div,floor,expo)

8 -4 12 0.3333333333333333 0 64

In [39]:
#Assignment Operators Example:
x=8
print(x)
x=x+3# value is 11
x 
x+=3#value is 11
x

8

14

In [42]:
#Comparision Operator Example
a= 100
b=10
if a>b:
    print("yes a is greater than b")
elif a<b:
    print("No  a is smaller than b")
else:
    print("both are equal")

both are equal

In [45]:
#Logical Operator Example:
x=10
y=12
z=3
x<y and z<y# returns true if both conditions are true
x>z or z>y # returns true if one of the condition is True
not(x<y and z<y)# returns opposite value if true the it will returns false

False

In [47]:
#Identity Operators Example:
a= 10
b= 3
a is b # returns False because both objects are different
c=a
a is c # return True because both objects pointed to the same object

True

In [49]:
# Membership Operator Examples:
Data ="This is example of Operator"
"This" in Data# returns true because This is present in Data
"why" in Data# retruns False because Why is not present in Data

False

In [53]:
# Bitwise Operator Example:
a= 6
b= 3
c= a&b#Sets each bit to 1 if both bits are 1
d= a|b#Sets each bit to 1 if one of two bits is 1
print(c,d)

2 7

6. How do conditional statements work in Python? Illustrate with examples

Conditional Statements are statements in Python that provide a choice for the control flow based on a condition. It means that the control flow of the Python program will be decided based on the outcome of the condition.

In [3]:
# Nesed if-else Example

letter = input("Enter a letter")

if letter == "B": 
	print("letter is B") 

else: 

	if letter == "C": 
		print("letter is C") 

	else: 

		if letter == "A": 
			print("letter is A") 

		else: 
			print("letter isn't A, B and C")

Enter a letter Q

letter isn't A, B and C

In [6]:
# if-elif-else  Example
letter = input("Enter a letter")

if letter == "B": 
	print("letter is B") 

elif letter == "C": 
	print("letter is C") 

elif letter == "A": 
	print("letter is A") 

else: 
	print("letter isn't A, B or C")

Enter a letter q

letter isn't A, B or C

7. Describe the different types of loops in Python and their use cases with examples.

Python have two types of loops :
1. for loop
2. while loop

Let us take first for loop:

for loop used for traversing each element of data. such as traversing a list or String.

In [14]:
# for loop example of table of 2:
output=""
for i in range(1,11):
    output = (f"2 * {i} = {i*2}")
    print(output)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

while loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the line immediately after the loop in the program is executed.

In [21]:
# while loop example:
output =""
i=0
while(i<10):
    i=i+1
    output = (f"2 * {i} = {i*2}")
    print(output)
else:
    print("loop terminted")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
loop terminted